$custom-primary: (
  50: theme("colors.primary.50"),
  100: theme("colors.primary.100"),
  200: theme("colors.primary.200"),
  300: theme("colors.primary.300"),
  400: theme("colors.primary.400"),
  500: theme("colors.primary.500"),
  600: theme("colors.primary.600"),
  700: theme("colors.primary.700"),
  800: theme("colors.primary.800"),
  900: theme("colors.primary.900"),
  A100: theme("colors.primary.A100"),
  A200: theme("colors.primary.A200"),
  A400: theme("colors.primary.A400"),
  A700: theme("colors.primary.A700"),
  contrast: (
    50: theme("colors.primary.contrast.50"),
    100: theme("colors.primary.contrast.100"),
    200: theme("colors.primary.contrast.200"),
    300: theme("colors.primary.contrast.300"),
    400: theme("colors.primary.contrast.400"),
    500: theme("colors.primary.contrast.500"),
    600: theme("colors.primary.contrast.600"),
    700: theme("colors.primary.contrast.700"),
    800: theme("colors.primary.contrast.800"),
    900: theme("colors.primary.contrast.900"),
    A100: theme("colors.primary.contrast.A100"),
    A200: theme("colors.primary.contrast.A200"),
    A400: theme("colors.primary.contrast.A400"),
    A700: theme("colors.primary.contrast.A700"),
  ),
);
