@use "./scss/color-config";
@use "./scss/typography-config";

@use "@angular/material" as mat;

@import "./scss/material/palettes";
@import "./scss/material/topography";

@include mat.core($fontConfig);

// Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

$ngmaterial-tailwind-primary: mat.define-palette($custom-primary);
$ngmaterial-tailwind-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

$ngmaterial-tailwind-warn: mat.define-palette(mat.$red-palette);

$ngmaterial-tailwind-theme: mat.define-light-theme(
  (
    color: (
      primary: $ngmaterial-tailwind-primary,
      accent: $ngmaterial-tailwind-accent,
      warn: $ngmaterial-tailwind-warn,
    ),
  )
);

@include mat.all-component-themes($ngmaterial-tailwind-theme);

html,
body {
  @apply wm-h-full;
}
body {
  @apply wm-m-0;
}
